:root {
  --vermelho-escuro: #5A0000;
  --vermelho-claro: #FFF5EE;
  --espacamento: 16px;
  --fonte-titulo: "Arial Black", sans-serif;
  --sombra-texto: 3px 3px 15px black;
  --cinza-claro: #F3F3F3;
  --borda-divisoria: 2px solid var(--vermelho-escuro)
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

/* * Menu superior * */
.menu-superior {
    background-color: var(--vermelho-escuro);
}

.botoes-menu-superior {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-menu-superior {
    color: var(--vermelho-escuro);
    text-decoration: none;
    background: var(--vermelho-claro);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* * * */

.secao-informacoes {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem !important;
    flex-direction: column;
}

.titulo-secao {
    color: var(--vermelho-escuro);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* * Início (banner) * */
#banner {
    height: 100vh;
    background: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("../imagens/churrasco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.banner-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-texto h1, h2 {
    font-size: 4rem;
    color: white;
    text-shadow: var(--sombra-texto);
    font-weight: 700;
}

.banner-texto h2 {
    font-size: 2rem;
    font-weight: 500;
}
/* * * */

/* * Promoções * */
#promocoes {
    align-items: start !important;
    flex-direction: column;
    background-color: var(--vermelho-claro);
    border-top: var(--borda-divisoria);
    border-bottom: var(--borda-divisoria);
}

.promocoes-texto {
    font-size: 1.3rem;
}

.div-promocoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;
}

.card-promocao {
    border: 2px solid lightgray;
    border-radius: .5rem;
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
}

.card-promocao h2 {
    font-size: 3rem;
    font-weight: 700;
}

.card-promocao span {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    text-shadow: var(--sombra-texto);
}

#card_almoco_seg_sex {
    background: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("../imagens/almoco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;        
}

#card_almoco_jantar_sab {
    background: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("../imagens/pratos-rusticos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;        
}

#card_almoco_domingos {
    background: 
        linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("../imagens/churrasco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;        
}
/* * * */

/* * Sobre o ambiente * */
#sobre_ambiente {
    background: var(--cinza-claro);
    border-bottom: var(--borda-divisoria);
}

.div-informacoes-texto, .div-informacoes-horarios {
    text-align: center;
    font-size: 1.25rem;
}

.div-informacoes-texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}
/* * * */

/* * Quem somos * */
#quem_somos {
    background: var(--vermelho-claro);
    border-bottom: var(--borda-divisoria);    
}

#quem_somos p {
    text-align: center;
    margin: 1rem 2.5rem;
    font-size: 1.15rem;
}
/* * * */

#rodape {
    padding: 1.5rem;
}

.div-redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-redes-sociais {
    display: flex;
    gap: .5rem;
    font-size: 1.5rem;
}

.div-atendimento {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.div-atendimento:first-child {
    width: 50px;
}

.card-atendimento {
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: 1rem;
    flex: 1;
}

.card-atendimento h2 {
    font-size: 1.75rem;
    text-shadow: none;
    color: black;
    font-weight: 600;
    margin-bottom: .5rem;
}

.texto-direitos {
    text-align: center;
    color: grey;
    margin-top: 2rem; 
    margin-bottom: 1rem;
}